* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.clock {
  position: relative;
  height: 320px;
  width: 320px;
  border: 10px solid tomato;
  border-radius: 50%;
}

.clock__hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 140px;
  width: 10px;
  border-radius: 50%;
  background-color: tomato;
  transform-origin: bottom;
  transition: transform 0.3s cubic-bezier(0.8, 1.43, 0.88, 1.26);
}

.clock__hand--hour {
  height: 125px;
}

.clock__hand--minute {
}

.clock__hand--second {
  width: 5px;
}

.clock__gradation {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 5px;
  height: 160px;
  background-color: white;
  transform: scaleY(-0.2);
  transform-origin: bottom;
  z-index: -1;
}
